/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* Global Rules Start */


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    line-height: 1.6;
}

body{
    font-family: 'Work Sans', sans-serif;
}



.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container{
    max-width: 1170px;
    margin: auto;
}




/* Global Rules End */

/* Start Header */

header{
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 60px;
}

header .links{
    position: relative;
}

header .links .icon{
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .links .icon span{
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}

header .links .icon span:first-child{
    width:100%;
}

header .links .icon span:nth-child(2){
    width:60%;
    transition:var(--main-duration);
}

header .links .icon span:last-child{
    width:100%
}

header .links:hover .icon span:nth-child(2){
    width: 100%;
}

header .links ul{
    min-width: 200px;
    background-color: #f6f6f6;
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    display: none;
    margin: 0;
    padding: 0;
    z-index: 4;

}

header .links ul:before{
    content:"";
    position: absolute;
    top: -20px;
    right: 5px;
    border-width:10px;
    border-style:solid ;
    border-color:transparent transparent #f6f6f6  transparent ;
}

header .links:hover ul{
    display: block;
}

header .links ul li {
    padding: 15px;
    transition: var(--main-duration);
    cursor: pointer;
}

header .links ul li a{
    text-decoration: none;
    color: #333;
}

header .links ul li:hover{
    padding-left: 25px;
}

header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}




/* End Header */

/* Start landing page  */

#landing{
    background: url(../img/landing.jpg) center center/cover no-repeat;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landing h1{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 15px;
}

#landing p{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    color: #333;
}


/* End landing page  */

/* features Section Start */

#features{
    padding: var(--section-padding) 0; 
    background-color: var(--section-background);
}

#features .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#features .container div{
    width: 30%
}

#features .container i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 25px;
}

#features .container h3{
    margin-bottom: 25px;
    font-weight:800;
}

#features .container p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* features Section End */

/* Start Services */

#services{
    padding: var(--section-padding) 0; 
}

#services .special-title{
    text-align: center;
}

#services .special-title h3{
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
}

#services .special-title p{
    color: #797979;
    font-size: 20px;
    margin: -57px 0 0;
}

#services .services-content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

#services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}

#services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

#services .services-content .srv .text{
    flex: 1;
}

#services .services-content .srv h3{
    margin-bottom: 0 0 20px
}

#services .services-content .srv p{
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
#services .services-content .image{
    position: relative;
}

#services .services-content .image img{
    width: 260px;
}

#services .services-content .image::before{
    content: "";
    position: absolute;
    top: -50px;
    right: 50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;

}

/* End Services */

/* Start Portfolio */

#portfolio{
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

#portfolio .special-title{
    text-align: center;
}

#portfolio .special-title h3{
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
}

#portfolio .special-title p{
    color: #797979;
    font-size: 20px;
    margin: -57px 0 0;
}

#portfolio .portfolio-content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

#portfolio .portfolio-content .card{
    border: 1px solid white;
    background-color: white;
}

#portfolio .portfolio-content .info{
    padding: 25px;
}

#portfolio .portfolio-content .info h3{
    margin-bottom: 10px;
}

#portfolio .portfolio-content .info p{
    color: #444;
    line-height: 1.6;
    font-weight: 300
}


#portfolio .portfolio-content img{
    max-width: 100%;
}

/* End Portfolio */

/* Start About */

#about{
    padding: var(--section-padding) 0;
}

#about .special-title{
    text-align: center;
}

#about .special-title h3{
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
}

#about .special-title p{
    color: #797979;
    font-size: 20px;
    margin: -57px 0 0;
}

#about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}

#about .about-content img{
    width: 100% ;
}

#about .about-content .image::before{
    content:"";
    position: absolute;
    top: -50px;
    left: -20px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--section-background);
    z-index: -1;
}

#about .about-content .image::after{
    content:"";
    position: absolute;
    width: 120px;
    height: 300px;
    top:-40px;
    right: -154px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}

#about .about-content .text{
    flex-basis: calc(100% - 500px);
}

#about .about-content .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}

#about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);

}

#about .about-content .text p:last-of-type{
    color: #444;
    line-height: 2;
    font-weight: 300;
    margin-top: 30px;
}
/* End About */

/* Contact Start */

#contact{
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

#contact .special-title{
    text-align: center;
}

#contact .special-title h3{
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    font-weight: 800;
}

#contact .special-title p{
    color: #797979;
    font-size: 20px;
    margin: -57px 0 0;
}

#contact .text{
    margin-top: 100px;
    text-align: center;
}

#contact .text h2{
    font-size: 35px;
    letter-spacing: -2px;
    color: var(--secondary-color);
}

#contact .text a{
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 800;
    color: #10cab7;
}

#contact .text .social{
    margin-top: 20px;
    color: var(--secondary-color);
}

#contact .text .social i{
    margin-left: 5px;
}

/* Contact End */

/* Footer Start */

footer{
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

footer a{
    color: #10cab7;
    text-decoration: none;
    font-weight: 800;
}

/* Footer End */

/* Responsive */

/* Meduim Screens + Tablet */
@media(max-width:992px) {
    header .links{
    margin-right: 60px;
    }

    header .logo{
        margin-left: 60px;

    }
    #features .container{
        display: block;
    }
    #features .container div{
        margin: auto;
        margin-bottom: 50px;
    }
    #services .services-content .image{
        width: 150px;
        margin-left: 250px;
    }
    #services .services-content .image::before{
        right: -70px;
    }
    #features .container div{
        width: auto;
    }
}

/* Small Screens + Mobile */
@media (max-width:600px){
    header .links,
    header .logo{
        margin: 0;
    }
    #services .special-title h3,
    #portfolio .special-title h3,
    #about .special-title h3,
    #contact .special-title h3{
        font-size: 80px;
    }
    #services .special-title p,
    #portfolio .special-title p,
    #about .special-title p,
    #contact .special-title p{
        margin: -48px 0 0;
    }

    #services .services-content .image{
        display: none;
    }

    #about .about-content .text{
        margin: 80px auto 0;
        text-align: center;
    }
    #about .about-content .text hr{
        margin: auto;
    }

    #about .about-content{
        display: block;
    }
    
    #about .about-content .image{
        margin: auto;
    }
    #about .about-content .image::before,
    #about .about-content .image::after{
        display: none;
    }
    #features .container div{
        width: auto;
    }
}